/* Global styling */

* {
    margin: 0px;
    padding: 10px;
    color: orange;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    text-decoration: none;
}


/* Disable text selection */

::selection {
    color: none;
    background-color: none;
}


/* Flex box formatting */

body header {
    display: flex;
    justify-content: space-between;
}

body section p {
    display: flex;
    justify-content: center;
}

li {
    display: flex;
    justify-content: center;
    border: solid;
    margin: 10px;
}


/* Mouse over effects */

li:hover {
    color: black;
    background-color: orange;
}

a:hover {
    color: red;
}