*{
    margin: 0px;
    padding: 10px;
    color: orange;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    /* border: 1px solid #000; */
}

body header{
    display: flex;
    justify-content: space-between;
}

body section p{
    display: flex;
    justify-content: center;
}

li{
    display: flex;
    justify-content: center;
    border: solid;
    margin: 10px;
}

li:hover{
    color: black;
    background-color: orange;
}
